@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #4e5562;
}

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1e3a8a;
    border-right-color: #dbeafe;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #dbeafe;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
